node_modules/
dist/
.env
coverage/
coverage.json
typechain-types/
cache/
artifacts/
*.log
*.tgz

# HumanisKind Specific
*.key.pem
*.pub.pem
test-output.txt
test-results/

# Local env files
.env*.local

# Next.js Boilerplate Overrides
**/.next/
**/node_modules/

# OS Files
.DS_Store
Thumbs.db
